# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2016-2018 Jonathan Riddell <jr@jriddell.org>
# SPDX-FileCopyrightText: 2015-2020 Harald Sitter <sitter@kde.org>
/doc/
/coverage/
/html/
/old/
/output
/.yardoc
/plasma/bugzilla-cookies.inc
/plasma/wordpress_access.rb
/.sig
/.tags*
/.bundle/
/Gemfile.lock
/release_data
/vendor/
