					<li>
						<h1>KDE Plasma <%= version %> Released <i><%= releasedate %></i></h1>
						<q>Today KDE releases a new release of KDE Plasma 5, versioned <%= version %></q>
						<a href="announcements/plasma-<%= version %>.php" class="learn-more">Read full announcement</a>
					</li>
