        <li>
          <h2>KDE Plasma <%= version %> Released</h2>
          <i><%= releasedate %></i><br />
          <q>Today KDE releases a new release of KDE Plasma 5, versioned <%= version %></q><br />
          <a href="announcements/plasma-<%= version %>" class="learn-more">Read full announcement</a>
        </li>
